@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:wght@300;400&display=swap');
header {
    display: flex;
    align-items: center;
    line-height: 20px;
    background-color: #1A1513;
  }
  .nav-item{
    margin-left: 115px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: end;
  }
  .nav-item li{
    position: relative;
  }
  .nav-item a:hover{
    color: #F15A29;  
  }
  .nav-item a{
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .section1 {
    background-color: #1A1513;
  }
  .section1 h1{
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: #FFFFFF;
    margin-left: 150px;
  }
  #contact-btn:hover{
    background-color: white;
    color:  #1A1513;;
  }

