<!-- headersection !-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="headersection">
    <h1>
      Let’s <span class="underline">Empower</span> Your <br>
       Digital Journey.
    </h1><br>
    <p>
        At a time of exponentially growing dependency on digital
         services, We are your trusted independent digital
          transformation specialists      
    </p>
    <div class="btn-group">
        <button class="btn-solutions">See Our Solutions</button>
        <button class="talk">Let's Talk</button>
    </div>
    
</div>
<!-- cloudsection !-->
<div class="cloudsection">
    <h1 style="margin-top: 50px;">Cloud Management<br> Solutions</h1><br>
    <p class="text-center">Our cloud services offer a planned approach to 
     develop,<br> deploy, and manage cloud 
     platforms that addresses IT <br>infrastructure needs</p><br>
     <img className="mt-5" alt="cloud services illustration" fluid src="../../../../assets/img/cloud-services-illustration.svg"><br>
     <p id="para" class="mt-5 mx-auto">
         One of the most significant decisions nowadays is adoption of cloud computing into the
         operational model of<br>
         any forward-thinking organization. At Decryptogen , we provide
         cloud consulting and management services to<br>
         help our clients capitalize on the infinite possibilities brought about by the selecting the precise cloud<br>
          computing variant to fulfil
         specific business requirements.<br>
 </p>
 <div style="text-align: center;">
    <button class="btn-solutions">
        Explore More
    </button>

    <button class="talk2">
        Let's Talk
    </button>
 </div>
     
     
 </div>

 <!-- softwaresection !-->

 <div class="softwaresection">
    <h1 style="margin-top: 50px;">Software & Product<br> Solutions</h1><br>
    <p class="text-center">Our holistic and structured approach empowers our
      clients<br> to improve and enhance quality of their software products<br> and fast-track their product launch.</p><br>
 
      <div class="container">
            <div class="row">
                    <div class="col-lg-6 vertical_divider">
                    <div class="card">
                        <div id="circle"></div>
                        <img src="../../../../assets/img/developer-mode.svg"><br>
                        <div class="card-body">
                            <h2>App Development & Support</h2><br>
                            <h3>Our experienced team provides expert application
                                development and software maintenance services to help your
                                business stay competitive in today's digital landscape. From
                                initial concept to final deployment, we work closely with you
                                to deliver high-quality, customized solutions that meet your
                                specific needs. Our ongoing maintenance and support
                                ensures your software runs smoothly, efficiently and stays up
                                to date with the latest technologies</h3>
                        </div>
                      </div>

                      <div class="card">
                        <div id="circle"></div>
                        <img src="../../../../assets/img/workflow.svg"><br>
                       
                        <div class="card-body">
                            <h2>Data Science Services</h2><br>
                            <h3>Our data science services help businesses make data-driven decisions. 
                                Our team of experts utilize advanced analytics, machine learning, 
                                and statistical techniques to extract insights and knowledge 
                                from structured and unstructured data. We work closely with clients 
                                to understand their specific needs and tailor our approach to 
                                deliver customized solutions. From predictive modeling to data 
                                visualization, we help organizations turn data into actionable intelligence.</h3>
                        </div>
                      </div>
                      
                </div>
              
                <div class="col-lg-6 vertical_divider"> 
                    <br>
                       
                    <div class="card">     
                        <div id="circle"></div>
                        <img src="../../../../assets/img/responsive.svg"><br>
                        <div class="card-body">
                            <h2>Cross-Platform Integration</h2><br>
                        <h3>Our cross-platform integration services bridge the gap
                            between different systems, ensuring seamless communication
                            and efficient data exchange. We have expertise in integrating
                            various systems and platforms, such as CRM, ERP, and e-commerce,
                            to enhance your business operations. Our team of
                            experts will work closely with you to design and implement a
                            tailored solution that meets your unique business
                            requirements. Trust us to streamline your business processes and increase efficiency</h3>
                        </div>
                      </div>

                      <div class="card">
                        <div id="circle"></div>
                        <img src="../../../../assets/img/paint-palette.svg"><br>
                       
                        <div class="card-body">
                            <h2>Mobile Application Development</h2><br>
                            <h3>Our mobile development services provide businesses 
                                with custom mobile solutions for iOS and Android platforms. 
                                Our team of experienced developers create high-quality, 
                                user-friendly, and feature-rich apps that improve business 
                                operations and customer engagement. We use the latest technologies to deliver scalable and secure apps that meet your specific needs. Whether it's a simple app or a complex enterprise solution, we can help you take your business to the next level with mobile development.</h3>
                        </div>
                      </div>
                </div>
            </div>   
      </div>



 
<!-- securitysection !-->
<div class="securitysection">
    <h1 style="margin-top: 50px;">Security Solutions</h1><br>
    <p class="text-lg-center">We earmark security as one of our most important focal points<br>
        and offer a comprehensive and reliable host of security testing<br>
        services to our valuable clients with <span class="underline">our systematic approach.</span></p><br>
        <div class="container">
            <div class="row">
                    <div class="col-lg-6 vertical_divider">
                    <div class="card1">
                        <div class="securityItem">
                            <div class="securityItemIcon">
                                
                                <img src="../../assets/img/target.svg">
                            </div>
                            <div class="securityItemDescription">
                                <h2>Stadards-based<br />Security Testing</h2>
                                <h3>Expert IT security services that adhere to industry standards
                                    and best practices, ensuring the protection of your
                                     data and systems.</h3>
                            </div>
                        </div>

                        <div class="securityItem">
                            <div class="securityItemIcon">
                                <img src="../../assets/img/security-lock.svg">
                            </div>
                            <div class="securityItemDescription">
                                <h2>Infrastructure<br>Security Testing</h2>
                                <h3>Expert infrastructure security testing services to identify and
                                        mitigate vulnerabilities in your network, systems and applications</h3>   
                            </div>
                        </div>

                        <div class="securityItem">
                            <div class="securityItemIcon">
                                <img src="../../assets/img/grand-master-key.svg">
                            </div>
                            <div class="securityItemDescription">
                                <h2>Threat Modelling</h2>
                                <h3>Expert threat modeling services to proactively identify and
                                    mitigate potential security threats to your systems and data</h3>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6 vertical_divider">
                    <div class="card1">
                        <div class="securityItem">
                            <div class="securityItemIcon">
                                <img src="../../assets/img/standards.svg">
                            </div>
                            <div class="securityItemDescription">
                                <h2>Compliance-Based<br> Security Testing</h2>
                                <h3>Expert IT security services to ensure compliance with
                            industry regulations, including risk assessments, penetration
                            testing and incident response.</h3>
                            </div>
                        </div>

                        <div class="securityItem">
                            <div class="securityItemIcon">
                                 <img src="../../assets/img/data-encryption.svg">
                            </div>
                            <div class="securityItemDescription">
                                <h2>CMS Security Testing</h2>
                            <h3>Expert CMS security testing services to identify and
                                remediate vulnerabilities in your content
                                management systems.
            
                            </h3>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- <div class="securityItemsWrapper">
            <div class="securityItem">
                <div class="securityItemIcon">
                    
                    <img src="../../assets/img/target.svg">
                </div>
                <div class="securityItemDescription">
                    <h2>Stadards-based<br />Security Testing</h2>
                    <h3>Expert IT security services that adhere to industry standards<br>
                        and best practices, ensuring the protection of your<br> data and systems.</h3>
                </div>
            </div>

            <div class="securityItem">
                <div class="securityItemIcon">
                    <img src="../../assets/img/standards.svg">
                </div>
                <div class="securityItemDescription">
                    <h2>Compliance-Based<br> Security Testing</h2>
                    <h3>Expert IT security services to ensure compliance with<br>
                industry regulations, including risk assessments, penetration<br>
                testing and incident response.</h3>
                </div>
            </div>
            <div class="securityItem">
                <div class="securityItemIcon">
                    <img src="../../assets/img/security-lock.svg">
                </div>
                <div class="securityItemDescription">
                    <h2>Infrastructure<br>Security Testing</h2>
                    <h3>Expert infrastructure security testing services to identify and<br>
                            mitigate vulnerabilities in your network, systems<br> and applications</h3>   
                </div>
            </div>
            <div class="securityItem">
                <div class="securityItemIcon">
                     <img src="../../assets/img/data-encryption.svg">
                </div>
                <div class="securityItemDescription">
                    <h2>CMS Security Testing</h2>
                <h3>Expert CMS security testing services to identify and<br>
                    remediate vulnerabilities in your content<br>
                    management systems.

                </h3>
                </div>
            </div>
            <div class="securityItem">
                <div class="securityItemIcon">
                    <img src="../../assets/img/grand-master-key.svg">
                </div>
                <div class="securityItemDescription">
                    <h2>Threat Modelling</h2>
                    <h3>Expert threat modeling services to proactively identify and<br> 
                        mitigate potential security threats to your systems and data</h3>
                </div>
            </div>
        </div> -->



        <!-- <div class="container">
            <div class="row">
                    <div class="col-lg-5">
                        <h2>Standards-based <br>Security Testing</h2>
                        <h3>Expert IT security services that adhere to industry standards<br>
                            and best practices, ensuring the protection of your<br> data and systems.</h3>

                        
                    </div>
                    <div class="col-lg-2">
                        
                    </div>
                    <div class="col-lg-5">

                    </div>
                    
                    
            </div>
            <div class="row">
                <div class="col-lg-5">
                        
                </div>
                <div class="col-lg-2">
                    
                    <div id="circle3">
                        
                </div>
                    <img src="../../assets/img/standards.svg">
                        
              
            </div>
            <div class="col-lg-5">
                
                <h2>Compliance-Based<br> Security Testing</h2>
                <h3>Expert IT security services to ensure compliance with<br>
            industry regulations, including risk assessments, penetration<br>
            testing and incident response.</h3>
          
            </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <h2>Infrastructure<br>Security Testing</h2>
                    <h3>Expert infrastructure security testing services to identify and<br>
                            mitigate vulnerabilities in your network, systems<br> and applications</h3>   
                </div>
                <div class="col-lg-2">
                    <div id="circle3">

                    </div>
                    <img src="../../assets/img/security-lock.svg">
                </div>
                <div class="col-lg-5">
                        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    
                </div>
                <div class="col-lg-2">
                    <div id="circle3">

                    </div>
                    <img src="../../assets/img/data-encryption.svg">
                </div>
                <div class="col-lg-5">
                   
                    <h2>CMS Security Testing</h2>
                <h3>Expert CMS security testing services to identify and<br>
                    remediate vulnerabilities in your content<br>
                    management systems.

                </h3>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <h2>Threat Modelling</h2>
                <h3>Expert threat modeling services to proactively identify and<br> 
                            mitigate potential security threats to your systems and data</h3><br><br>
            </div>
            <div class="col-lg-2">
                <div id="circle3">

                </div>
                <img src="../../assets/img/grand-master-key.svg">

            </div>
            <div class="col-lg-5">
            </div>
</div>
</div> -->
        <!-- <div class="row justify-content-around">
            <div class="col-lg-5" >
                <h2 style="text-align: right;">Standards-based <br>Security Testing</h2>
                <h3 style="text-align: right;">Expert IT security services that adhere to industry standards<br>
                    and best practices, ensuring the protection of your<br> data and systems.</h3>
            </div>
            <div class="col-lg-2">
                <div id="circle3">

                </div>
                <img src="../../assets/img/target.svg">
            </div>
          
     
            <div class="col-lg-5">
               
            </div>
        </div> -->


        <!-- <div class="row justify-content-around">
            <div class="col-lg-5">
                
            </div>
            <div class="col-lg-2">
                <div id="circle3">

                </div>
                    <img src="../../assets/img/standards.svg">
            </div>
 
            <div class="col-lg-5">
                <h2>Compliance-Based<br> Security Testing</h2>
                <h3>Expert IT security services to ensure compliance with<br>
                    industry regulations, including risk assessments, penetration<br>
                    testing and incident response.

                </h3>
            </div>
        </div> -->

        <!-- <div class="row justify-content-around">
            <div class="col-lg-5" >
                <h2 style="text-align: right;margin-right: -10px;">Infrastructure<br>Security Testing</h2>
                <h3 style="text-align: right;margin-right: -10px;">Expert infrastructure security testing services to identify and<br>
                    mitigate vulnerabilities in your network, systems<br> and applications

                </h3>
            </div>
            <div class="col-lg-2">
                <div id="circle3">

                </div>
                <img src="../../assets/img/security-lock.svg">
            </div>
    
            <div class="col-lg-5">
            </div>
        </div> -->


        <!-- <div class="row justify-content-around">
            <div class="col-lg-5">
                
            </div>

            <div class="col-lg-2">
                <div id="circle3">

                </div>
                <img src="../../assets/img/data-encryption.svg">
            </div>

            <div class="col-lg-5">
                <h2>CMS Security Testing</h2>
                <h3>Expert CMS security testing services to identify and<br>
                    remediate vulnerabilities in your content<br>
                    management systems.

                </h3>
            </div>
        </div> -->

        <!-- <div class="row justify-content-around">
            <div class="col-lg-5" >
                <h2 style="text-align: right;margin-right: -10px;">Threat Modelling</h2>
                <h3 style="text-align: right;margin-right: -10px;">Expert threat modeling services to proactively identify and<br> mitigate potential security threats to your systems and data</h3>
            </div>

            <div class="col-lg-2">
                <div id="circle3">

                </div>
                <img src="../../assets/img/grand-master-key.svg">
            </div>
            
            <div class="col-lg-5">
            </div>

        </div> -->



</div> 

<!-- moreservicessection !-->

<div class="moreservicessection">
    <h4 className="mt-0 mx-auto">Our company offers range of IT services, expanding from QA
        and Application Testing, Cloud Management, to Digital Marketing
        and E-Commerce Services. Our team of skilled professionals has<br>
        the expertise and experience to deliver high-quality services<br>
         that meet the needs of our clients. </h4>
    <div style="text-align: center;">
        <button class="btn-solutions">
            Explore Our Services
        </button>

        <button class="talk2">
            Let's Talk
        </button>     
    </div><br><br>
       
   
</div>


<!-- summerysection !-->
<div class="summerysection">
    <h2>In summary</h2><br>
    <h3>Our Story</h3>
    <hr class="line">
    <div class="row">
     <div class="col-lg-4">
         <div id="circle1">
 
         </div>
         <div id="circle2">
             
         </div>
         <img src="../../assets/img/our-story-img.jpg"><br>
       
     </div>
     <div class="col-lg-8">
         <p>Drawing from the many years of expertise of our 
             Consultants, Decryptogen focuses on providing
             tailored, cutting-edge digital solutions for our clients.
              We facilitate our clients with an unparalleled level of 
              guidance throughout the complete maturity of a 
              project’s lifecycle or provide continuous unwavering support services.</p>
              <div class="btn-group1">
                <button class="btn-solutions">
                    Read More
                </button>
              </div>
             
     </div>
 </div>
 </div>
 
 
 <div class="summerysection">
    <h2>Our Strenth Is</h2><br>
    <h3>Our Team</h3>
    <hr class="line">
    

    <div class="row">
        <div class="col-lg-4">
            <div id="circle1">
 
            </div>
            <div id="circle2">
                
            </div>
            <img src="../../assets/img/our-team-img.jpg"><br>
        </div>
        <div class="col-lg-8">
            <p>We take pride in our ability to adapt our operating model 
                to best suit our clients’ requirement. Whether your requirement 
                is to manage a project in its entirety from end-to-end, 
                or to expand or outsource your ICT resources for the extent of a project, Decryptogen is here to meet your digital transformation goals!.</p>
               <div class="btn-group1">
                <button class="btn-solutions">
                   Join With Us
                </button>
            </div>

               
               
        </div>
    </div>

</div>
<!-- talktoussection !-->
<div class="talktoussection">
    <h1>Talk to us</h1><br>
    <h2>Right Now!</h2><br>
    <!-- <p>Congue lacus erat amet pellentesque sapien. Lacus consequat dictumst sit commodo nunc a nec et. Faucibus maecenas tellus adipiscing ornare etiam tincidunt.</p><br>
  -->
    <div class="btn-group">
        <button class="talk2" >
            don@decryptogen.com
            </button>
            <button class="talk2">
                +94 777 731 122
                </button>
    </div><br><br>
        
         
 </div>

