<style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:wght@300;400&display=swap');
   .headersection{
        color: white;
        background: url(../../../../assets/img/header-abstaract-lines-bg.svg) no-repeat center;;
        height: auto;
        background-color: #1A1513;
        background-size: 100% auto;
    }
    .headersection h1{
        margin-left: 160px; 
        font-family: 'Fira Code', monospace;
        font-weight: 600;
        font-size: 60px;
        padding-top: 70px;
    }
    .headersection p{
        margin-left: 160px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 300;
        font-size: 22px;
        padding-top: 30px;
    }
    .underline{
        text-decoration: underline;
        text-decoration-color: #F15A29;
    }   
   .btn-solutions{
          color: #262120;
          border: 2px;
          background-color: #F15A29;
          padding: 20px;
          border-radius: 35px;
          width: auto;
          height: auto;
          background-origin: border-box;
          margin-top: 40px;
          font-family: 'Fira Code', monospace;
          font-weight: 500;
          font-size: 16px;
          margin-right: 10px;  
    }
   .btn-solutions:hover 
    {
          background-color: #EC8974; 
    }
    .talk{
          color: white;
          background-color: transparent;
          border: 2px solid #F15A29;
          padding: 20px;
          border-radius: 35px;
          width: auto;
          height: auto;
          margin-top: 40px;
          background-origin: border-box;
          font-family: 'Fira Code', monospace;
          font-weight: 500;
          font-size: 16px;
          margin-left: 10px;
    }
    .talk:hover{
        background-color: white;
        color: #262120;
    }

    /*cloud section*/
    .cloudsection h1 , .softwaresection h1 , .securitysection h1{      
        text-align: center;
        margin-top: 100px;
        color: #F15A29;
        font-family: 'Fira Code', monospace;
        font-weight: 600;
        font-size: 60px;
    }
    .cloudsection p , .softwaresection p, .securitysection p{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 300;
        font-size: 22px;
        text-align: center;
        color: #1A1513;
    }
    .cloudsection img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cloudsection .para{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: #2B2B2B;;
    }
    .talk2{
        color:#1A1513 ;
        background-color: transparent;
        border: 2px solid #F15A29;
        padding: 20px;
        border-radius: 35px;
        width: auto;
        text-align: center; 
        background-origin: border-box;
        margin-top: 20px;
        font-family: 'Fira Code', monospace;
        font-weight: 500;
        font-size: 16px;
        margin-left: 10px;
    }
    .cloudsection .talk2:hover ,.moreservicessection .talk2:hover, .talktoussection .talk2:hover{
        background-color:#1A1513;
        color: white;
    }
    .softwaresection .container h2{
        font-family: 'Fira Code', monospace;
        font-weight: 600;
        font-size: 20px;
        color: #F15A29;
    }
    .softwaresection h3{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: #2B2B2B;
    }
    .softwaresection .col-sm {
        margin-left: 70px;
    }
    .securitysection{
        background: url(../../../../assets/img/abstract-lines-bg-2.svg) no-repeat center;;
        height: auto;
        background-color: #1A1513;
        background-size: 100% auto;  
    }
    .securitysection h2
    {
        font-family: 'Fira Code', monospace;
        font-weight: 600;
        font-size: 20px;
        color: #F15A29;
    }
    .securitysection h3
    {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: #FEB39A;
    }
    .securitysection p{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 300;
        font-size: 22px;
        color: white; 
    }
    .verticalLine {
        height: 300px;
        border-right: 1px solid #B1B1B1;
        position: absolute;
        right: 50%;
    }
    .moreservicessection p{
        font-family: 'Fira Code', monospace;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #2B2B2B;
        margin-top: 100px;
    }
    .verticalLine2 {
        height: 300px;
        border-right: 1px solid #64453B;
        position: absolute;
        right: 50%;     
    }
    .summerysection{
        background-color: #1A1513;
        background-size: auto;
    }
    .summerysection h2{
        font-family: 'Fira Code', monospace;
        font-weight: 450;
        font-size: 16px;
        color: white;
        margin-left: 160px; 
    }
    .summerysection h3{
        font-family: 'Fira Code', monospace;
        font-weight: 600;
        font-size: 48px;
        color: #F15A29;
        margin-left: 160px; 
    }
    .summerysection p{
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: white;
        text-align: left;
    }
    .talktoussection h1{
        font-family: 'Fira Code', monospace;
        font-weight: 600;
        font-size: 22px;
        text-align: left;
        color: #2B2B2B;
        margin-left: 160px;
    }

    .talktoussection h2{
        font-family: 'Fira Code', monospace;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        text-align: left;
        margin-left: 160px;
        color: #F15A29;
    }
    .talktoussection p{
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: #2B2B2B;
        margin-left: 160px;
        text-align: left;

    }
</style>


<!-- headersection !-->

<div class="headersection">
    <h1>
      Let’s <span class="underline">Empower</span> Your <br>
       Digital Journey.
    </h1><br>
    <p>
        At a time of exponentially growing dependency on digital<br>
         services, We are your trusted independent digital<br>
          transformation specialists<br>
         
        <button class="btn-solutions">See Our Solutions</button>
        <button class="talk">Let's Talk</button>
    </p><br>   
</div>

<!-- coludsection !-->

<div class="cloudsection">
   <h1>Cloud Management<br> Solutions</h1><br>
   <p>Our cloud services offer a planned approach to 
    develop,<br> deploy, and manage cloud 
    platforms that addresses IT <br>infrastructure needs</p><br>
    <img src="../../../../assets/img/cloud-services-illustration.svg"><br>
    <p class="para">
        One of the most significant decisions nowadays is adoption of cloud computing into the
        operational model of<br>
        any forward-thinking organization. At Decryptogen , we provide
        cloud consulting and management services to<br>
        help our clients capitalize on the infinite possibilities brought about by the selecting the precise cloud<br>
         computing variant to fulfil
        specific business requirements.<br>

        <button class="btn-solutions">
            Explore More
        </button>

        <button class="talk2">
            Let's Talk
        </button>
    </p>
</div>
<!-- softwaresection !-->

    <div class="softwaresection">
   <h1>Software & Product<br> Solutions</h1><br>
   <p>Our holistic and structured approach empowers<br>
     our clients to improve and enhance quality of<br> 
     their software products and fast-track their<br>
      product launch.</p><br>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="../../../../assets/img/developer-mode.svg"><br>
         </div>
          <div class="col-sm">
            
          </div>
         
        </div>

        <div class="row">
            <div class="col-sm">
                <h2>App Development & Support</h2>
        
            </div>
            <div class="verticalLine">
               
            </div>
            <div class="col-sm">
                <img src="../../../../assets/img/responsive.svg"><br>
            </div>
           
          </div>

          <div class="row">
            <div class="col-sm">
                <h3>Our experienced team provides expert application<br>
                    development and software maintenance services to help your<br>
                    business stay competitive in today's digital landscape. From<br>
                    initial concept to final deployment, we work closely with you<br>
                    to deliver high-quality, customized solutions that meet your<br>
                    specific needs. Our ongoing maintenance and support<br>
                    ensures your software runs smoothly, efficiently and stays up<br>
                    to date with the latest technologies</h3><br>
                    <img src="../../../../assets/img/workflow.svg">
            </div>
            <div class="verticalLine">
               
            </div>
            <div class="col-sm">
                <h2>Cross-Platform Integration</h2><br>
            <h3>Our cross-platform integration services bridge the gap<br>
                between different systems, ensuring seamless communication<br>
                and efficient data exchange. We have expertise in integrating<br>
                various systems and platforms, such as CRM, ERP, and e-commerce,<br>
                 to enhance your business operations. Our team of<br>
                 experts will work closely with you to design and implement a<br>
                 tailored solution that meets your unique business<br>
                  requirements. Trust us to streamline your business processes and increase efficiency</h3>
            </div>
            </div> 

            <div class="row">
                <div class="col-sm">
                    <h2>Data Science Services</h2><br>
              <h3>Our data science services help businesses make data-driven decisions. Our team of experts utilize advanced analytics, machine learning, and statistical techniques to extract insights and knowledge from structured and unstructured data. We work closely with clients to understand their specific needs and tailor our approach to deliver customized solutions. From predictive modeling to data visualization, we help organizations turn data into actionable intelligence.</h3>
                </div>
                <div class="verticalLine">
                   
                </div>
                <div class="col-sm">
                    <img src="../../../../assets/img/paint-palette.svg"><br>
              <h2>Mobile Application Development</h2><br>
              <h3>Our mobile development services provide businesses with custom mobile solutions for iOS and Android platforms. Our team of experienced developers create high-quality, user-friendly, and feature-rich apps that improve business operations and customer engagement. We use the latest technologies to deliver scalable and secure apps that meet your specific needs. Whether it's a simple app or a complex enterprise solution, we can help you take your business to the next level with mobile development.</h3>
                </div>
            </div>
</div>



<!-- securitysection !-->
<div class="securitysection">
    <h1>Security Solutions</h1><br>
    <p>We earmark security as one of our most important focal points<br>
        and offer a comprehensive and reliable host of security testing<br>
        services to our valuable clients with <span class="underline">our systematic approach.</span></p><br>

        <div class="row">
            <div class="col-sm" >
                <h2 style="text-align: right;margin-right: -10px;">Standards-based <br>Security Testing</h2>
                <h3 style="text-align: right;margin-right: -10px;">Expert IT security services that adhere to industry standards<br>
                    and best practices, ensuring the protection of your<br>data and systems.</h3>
            </div>
            <div class="verticalLine2">
               
            </div>
            <div class="col-sm">
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                
            </div>
            <div class="verticalLine2">
               
            </div>
            <div class="col-sm">
                <h2>Compliance-Based<br> Security Testing</h2>
                <h3>Expert IT security services to ensure compliance with<br>
                    industry regulations, including risk assessments, penetration<br>
                    testing and incident response.

                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm" >
                <h2 style="text-align: right;margin-right: -10px;">Infrastructure<br>Security Testing</h2>
                <h3 style="text-align: right;margin-right: -10px;">Expert infrastructure security testing services to identify and<br>
                    mitigate vulnerabilities in your network, systems<br>and applications

                </h3>
            </div>
            <div class="verticalLine2">
               
            </div>
            <div class="col-sm">
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                
            </div>

            <div class="col-sm">
                <h2>CMS Security Testing</h2>
                <h3>Expert CMS security testing services to identify and<br>
                    remediate vulnerabilities in your content<br>
                    management systems.

                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm" >
                <h2 style="text-align: right;margin-right: -10px;">Threat Modelling</h2>
                <h3 style="text-align: right;margin-right: -10px;">Expert threat modeling services to proactively identify and<br>mitigate potential security threats to your systems and data</h3>
            </div>

            <div class="col-sm">
            </div>
        </div>



</div>



<!-- moreservicessection !-->
<div class="moreservicessection">
    <p>Our company offers range of IT services, expanding from QA<br>
        and Application Testing, Cloud Management, to Digital Marketing<br>
        and E-Commerce Services. Our team of skilled professionals has<br>
        the expertise and experience to deliver high-quality services<br>
         that meet the needs of our clients.<br>
         <button class="btn-solutions">
            Explore Our Services
        </button>

        <button class="talk2">
            Let's Talk
        </button>     
    </p>
</div>


<!-- summerysection !-->
<div class="summerysection">
   <h2>In summary</h2><br>
   <h3>Our Story</h3><br> 
   <div class="row">
    <div class="col-sm">
        
    </div>
    <div class="col-sm">
        <p>Drawing from the many years of expertise of our 
            Consultants, Decryptogen focuses on providing
            tailored, cutting-edge digital solutions for our clients.
             We facilitate our clients with an unparalleled level of 
             guidance throughout the complete maturity of a 
             project’s lifecycle or provide continuous unwavering support services.</p>
             <button class="btn-solutions">
                Read More
            </button>
    </div>
</div>
</div>


<div class="summerysection">
   <h2>Our Strenth Is</h2><br>
   <h3>Our Team</h3><br>
   <div class="row">
    <div class="col-sm">
        
    </div>
    <div class="col-sm">
        <p>We take pride in our ability to adapt our operating 
            model to best suit our clients’ requirement. Whether 
            your requirement is to manage a project in its entirety 
            from end-to-end, or to expand or outsource your ICT 
            resources for the extent of a project, Decryptogen is
            here to meet your digital transformation goals!</p>
            <button class="btn-solutions">
                Join With Us
            </button>
    </div>
</div>
</div>






<!-- talktoussection !-->
<div class="talktoussection">
   <h1>Talk to us</h1><br>
   <h2>Right Now!</h2><br>
   <p>Congue lacus erat amet pellentesque sapien. Lacus consequat dictumst sit commodo nunc a nec et. Faucibus maecenas tellus adipiscing ornare etiam tincidunt.</p><br>

       <button class="talk2" style="margin-left: 160px;">
        don@decryptogen.com
        </button>
        <button class="talk2">
            +94 777 731 122
            </button>
        
</div>
